@charset "UTF-8";
@import url("../css/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Lato:wght@700;900&family=Noto+Sans+JP:wght@400;500;700&display=swap");
html {
  width: 100%;
  height: auto;
  font-size: 62.5%;
}

body {
  color: #333;
  width: 100%;
  line-height: 1.5;
  letter-spacing: .05em;
  font-size: 1.6em;
  font-family: 'Lato', 'Noto Sans JP', 'Barlow Condensed', sans-serif;
  -webkit-font-feature-settings: "pwid" 1;
          font-feature-settings: "pwid" 1;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;
  -webkit-text-size-adjust: 100%;
}

*, h1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

input, textarea {
  border: none;
  outline: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  width: 100vw;
  height: 5.6rem;
  padding: 0 2.4rem;
  z-index: 10;
}

.header--light {
  background-color: #C1C1C1;
}

.header--dark {
  background-color: #707070;
}

@media (max-width: 960px) {
  .header__heading {
    font-size: 2rem;
  }
}

.burger-btn {
  cursor: pointer;
  display: none;
}

@media (max-width: 960px) {
  .burger-btn {
    display: block;
    position: relative;
  }
}

.burger-btn__line {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 2.4rem;
  border-top: .4rem solid #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.burger-btn__line::before, .burger-btn__line::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 100%;
  border-top: .4rem solid #fff;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.burger-btn__line::before {
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}

.burger-btn__line::after {
  -webkit-transform: translate(-50%, -300%);
          transform: translate(-50%, -300%);
}

.burger-btn:hover .burger-btn__line,
.burger-btn:hover .burger-btn__line::before,
.burger-btn:hover .burger-btn__line::after {
  border-top: 0.4rem solid #707070;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media (max-width: 960px) {
  .header-nav {
    display: none;
    position: absolute;
    top: 100%;
    right: 2.4rem;
    z-index: 10;
    -webkit-box-shadow: 0 0 5px 0 rgba(193, 193, 193, 0.5);
            box-shadow: 0 0 5px 0 rgba(193, 193, 193, 0.5);
  }
}

.header-nav__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #707070;
  height: 100%;
  padding: 0 3.2rem;
  -webkit-transition: .5s all;
  transition: .5s all;
  text-align: center;
}

.header-nav__content:not(:last-child) {
  margin-right: 1.6rem;
}

@media (max-width: 960px) {
  .header-nav__content:not(:last-child) {
    margin: 0;
  }
}

.header-nav__content:hover {
  color: #707070;
  background-color: #fff;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.header-nav__content--active {
  color: #707070;
  background-color: #fff;
}

.footer {
  padding: 2.4rem;
  border-top: 1px solid #707070;
}

.footer__copy {
  color: #707070;
  text-align: center;
}

.login {
  width: 100%;
  max-width: 75rem;
  margin: 9.6rem auto;
}

.login__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #707070;
  width: 100%;
  margin-bottom: 1.6rem;
  padding: 1rem 0;
  border-radius: 2rem;
}

.login-container {
  padding: 5.6rem 4rem;
  -webkit-box-shadow: 0 2px 10px 0 #707070;
          box-shadow: 0 2px 10px 0 #707070;
}

.login-container__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-container__input {
  padding: .6rem .8rem;
  border: 1px solid #707070;
}

.login-container__input::-webkit-input-placeholder {
  color: #C1C1C1;
}

.login-container__input:-ms-input-placeholder {
  color: #C1C1C1;
}

.login-container__input::-ms-input-placeholder {
  color: #C1C1C1;
}

.login-container__input::placeholder {
  color: #C1C1C1;
}

.login-container__input:not(:last-child) {
  margin-bottom: 4.8rem;
}

.login-container__submit {
  display: inline-block;
  color: #707070;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 2.4rem;
  font-weight: bold;
}

.main {
  width: 100%;
  overflow: hidden;
  margin-top: 6rem;
  padding: .8rem 1.6rem 3.2rem;
}

.main__heading {
  margin-bottom: 1.6rem;
}

.section {
  width: 100%;
  padding: 1.6rem 3.2rem 3.2rem;
  -webkit-box-shadow: 0 2px 5px 0 #707070;
          box-shadow: 0 2px 5px 0 #707070;
}

@media (max-width: 960px) {
  .section {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}

.section__heading {
  margin-bottom: .8rem;
  font-size: 2rem;
}

.section__sub-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #707070;
  width: 100%;
}

.section__sub-heading--light {
  background-color: #C1C1C1;
}

.section__btn {
  display: inline-block;
  color: #fff;
  background-color: #C1C1C1;
  padding: .8rem 3.2rem;
  border-radius: 1rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 960px) {
  .section__btn:not(:last-child) {
    margin-bottom: .8rem;
  }
}

.section__btn:hover {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.section__sub-btn {
  display: none;
}

.section__sub-btn-label {
  cursor: pointer;
  display: inline-block;
  color: #707070;
  padding: .2rem .4rem;
  border: 1px solid #C1C1C1;
  border-radius: 1rem;
  font-size: 1.4rem;
}

.section__sub-btn-label::after {
  content: "▼";
  font-size: 1.4rem;
}

.section__textarea {
  max-width: 60%;
  padding: .4rem .8rem;
  border: 1px solid #C1C1C1;
}

.section__textarea::-webkit-input-placeholder {
  color: #C1C1C1;
}

.section__textarea:-ms-input-placeholder {
  color: #C1C1C1;
}

.section__textarea::-ms-input-placeholder {
  color: #C1C1C1;
}

.section__textarea::placeholder {
  color: #C1C1C1;
}

.section-content {
  width: 100%;
  padding: 1.6rem 3.2rem;
  border: 1px solid #C1C1C1;
}

.section-content__description {
  margin-bottom: 1.6rem;
}

.portal__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.portal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc( 100% / 5);
  border: 1px solid #C1C1C1;
}

.portal-content:not(:last-child) {
  margin-right: .8rem;
}

.portal-content__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  width: 100%;
}

.portal-content__data:not(:last-child) {
  margin-bottom: .8rem;
}

.portal-content__data--heading {
  color: #fff;
  background-color: #707070;
}

.portal-content__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #707070;
  background-color: #fff;
  width: 100%;
  padding: 2.4rem 0;
  -webkit-box-shadow: 0 2px 5px 0 #C1C1C1;
          box-shadow: 0 2px 5px 0 #C1C1C1;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

@media (max-width: 960px) {
  .portal-content__btn {
    padding: 1.6rem 0;
    font-size: 1.2rem;
  }
}

.portal-content__btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.subject-content {
  width: 100%;
  padding: 1.6rem 3.2rem;
  border: 1px solid #C1C1C1;
}

.subject-content__description {
  margin-bottom: 1.6rem;
}

.subject-content__btns {
  margin-bottom: 1.6rem;
}

.subject-content__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40rem;
  border: 1px solid #C1C1C1;
}

@media (max-width: 960px) {
  .subject-content__body {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.subject-content__body--small {
  height: auto;
}

.subject-side {
  overflow-y: scroll;
  width: 30%;
  min-width: 22rem;
  border: 1px solid #C1C1C1;
}

@media (max-width: 960px) {
  .subject-side {
    width: 100%;
    height: 20rem;
  }
}

.subject-side__data {
  width: 100%;
}

.subject-side__data:not(:last-child) {
  border-bottom: 1px solid #C1C1C1;
}

.subject-side__label {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  padding: .8rem 0;
  text-align: center;
}

.subject-side__check {
  display: none;
}

.subject-main {
  width: 70%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: .8rem 3.2rem;
}

@media (max-width: 960px) {
  .subject-main {
    width: 100%;
  }
}

.subject-main--report {
  width: 100%;
}

.subject-main__heading {
  margin-bottom: 1.6rem;
  border-bottom: 1px solid #C1C1C1;
}

.subject-main__list {
  margin-bottom: 3.2rem;
}

.subject-main__list-data:not(:last-child) {
  margin-bottom: 1.6rem;
}

.subject-main__list-txt {
  display: inline-block;
  border-bottom: 1px solid #C1C1C1;
}

.subject-main__list-file {
  background-color: rgba(193, 193, 193, 0.3);
  width: 100%;
  min-height: 2rem;
  border-radius: .5rem;
}

.subject-main__btns {
  margin-bottom: .8rem;
}

.subject-main__btns .section__btn {
  margin-right: 2.4rem;
}

.subject-main__report {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.subject-log {
  display: none;
  width: 100%;
  font-size: 1.4rem;
}

.subject-log__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: center;
}

.subject-log__data-content {
  border: 1px solid #C1C1C1;
}

.subject-log__day, .subject-log__value {
  width: 20%;
}

.subject-log__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}

.subject-log__action-txt, .subject-log__action-rate {
  width: 100%;
}

.quiz-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40rem;
  margin-bottom: 4rem;
  border: 1px solid #C1C1C1;
}

.report-content, .message-content {
  border: 1px solid #C1C1C1;
}

.report-content__data, .message-content__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.report-content__data:not(:last-child), .message-content__data:not(:last-child) {
  margin-bottom: .4rem;
}

.report-content__cell, .message-content__cell {
  display: inline-block;
  padding: .4rem 0;
  border: 1px solid #C1C1C1;
  text-align: center;
}

.report-content__cell--gray, .message-content__cell--gray {
  color: #fff;
  background-color: #C1C1C1;
}

.report-content__day, .report-content__sub, .report-content__btn, .message-content__day, .message-content__sub, .message-content__btn {
  width: 15%;
  min-width: 10rem;
}

.report-content__desc, .message-content__desc {
  width: 70%;
}

.report-content__btn, .message-content__btn {
  position: relative;
  z-index: 1;
}

.report-content__btn::before, .message-content__btn::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  background: #707070;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.report-content__btn:hover::before, .message-content__btn:hover::before {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.chat-content {
  overflow-y: scroll;
  height: 30rem;
  padding: 1.6rem;
  border: 1px solid #C1C1C1;
}

.chat-content__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.chat-content__data:not(:last-child) {
  margin-bottom: .8rem;
}

.chat-content__data--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.chat-content__txt {
  width: 60%;
  padding: .4rem .8rem;
  border: 1px solid rgba(193, 193, 193, 0.5);
  border-radius: 2rem;
}

.chat-content__day {
  margin: 0 .8rem;
}

.chat-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: .4rem .8rem;
  border: 1px solid #C1C1C1;
}

.chat-input__text {
  width: 50%;
  height: 100%;
  border: 1px solid #C1C1C1;
}
/*# sourceMappingURL=style.css.map */