@import url("../css/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Lato:wght@700;900&family=Noto+Sans+JP:wght@400;500;700&display=swap");
html {
  width: 100%;
  height: auto;
  font-size: 62.5%;
}

body {
  color: #333;
  width: 100%;
  line-height: 1.5;
  letter-spacing: .05em;
  font-size: 1.6em;
  font-family: 'Lato', 'Noto Sans JP', 'Barlow Condensed', sans-serif;
  -webkit-font-feature-settings: "pwid" 1;
          font-feature-settings: "pwid" 1;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;
  -webkit-text-size-adjust: 100%;
}

*, h1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

input, textarea {
  border: none;
  outline: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  height: 5.6rem;
  padding: 0 2.4rem;
}

.header--light {
  background-color: #C1C1C1;
}

.header--dark {
  background-color: #707070;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header-nav__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #707070;
  height: 100%;
  padding: 0 3.2rem;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.header-nav__content:not(:last-child) {
  margin-right: 1.6rem;
}

.header-nav__content:hover {
  color: #707070;
  background-color: #fff;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.header-nav__content--active {
  color: #707070;
  background-color: #fff;
}

.footer {
  padding: 2.4rem;
  border-top: 1px solid #707070;
}

.footer__copy {
  color: #707070;
  text-align: center;
}

.login {
  width: 100%;
  max-width: 75rem;
  margin: 9.6rem auto;
}

.login__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #707070;
  width: 100%;
  margin-bottom: 1.6rem;
  padding: 1rem 0;
  border-radius: 2rem;
}

.login-container {
  padding: 5.6rem 4rem;
  -webkit-box-shadow: 0 2px 10px 0 #707070;
          box-shadow: 0 2px 10px 0 #707070;
}

.login-container__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-container__input {
  padding: .6rem .8rem;
  border: 1px solid #707070;
}

.login-container__input::-webkit-input-placeholder {
  color: #C1C1C1;
}

.login-container__input:-ms-input-placeholder {
  color: #C1C1C1;
}

.login-container__input::-ms-input-placeholder {
  color: #C1C1C1;
}

.login-container__input::placeholder {
  color: #C1C1C1;
}

.login-container__input:not(:last-child) {
  margin-bottom: 4.8rem;
}

.login-container__submit {
  display: inline-block;
  color: #707070;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 2.4rem;
  font-weight: bold;
}

.main {
  width: 100%;
  overflow: hidden;
  padding: .8rem 1.6rem 3.2rem;
}

.main__heading {
  margin-bottom: 1.6rem;
}

.section {
  width: 100%;
  padding: 1.6rem 3.2rem 3.2rem;
  -webkit-box-shadow: 0 2px 5px 0 #707070;
          box-shadow: 0 2px 5px 0 #707070;
}

.section__heading {
  margin-bottom: .8rem;
  font-size: 2rem;
}

.portal__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.portal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc( 100% / 5);
  border: 1px solid #C1C1C1;
}

.portal-content:not(:last-child) {
  margin-right: .8rem;
}

.portal-content__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  width: 100%;
}

.portal-content__data:not(:last-child) {
  margin-bottom: .8rem;
}

.portal-content__data--heading {
  color: #fff;
  background-color: #707070;
}

.portal-content__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #707070;
  background-color: #fff;
  width: 100%;
  padding: 2.4rem 0;
  -webkit-box-shadow: 0 2px 5px 0 #C1C1C1;
          box-shadow: 0 2px 5px 0 #C1C1C1;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.portal-content__btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
/*# sourceMappingURL=style.css.map */